*{width:98%;font-family:calibri;}
.left1{
width:25%; min-height:400px; float:left; color:white;margin-top:-102px; background:-webkit-gradient(linear,left top,right bottom,color-stop(5%,lightsteelblue),color-stop(85%,cornflowerblue));}
.head1{
width:95%;background-color:white;margin-left:2.5%;
}
.right1{
width:20%; min-height:400px; background:cornflowerblue;  font-size:20px;float:right;position:absolute;margin-bottom:200px;margin-left:70%;
}
.left4{width:50%; min-height:380px;position:absolute;solute;float:left;font-size:14px;margin-left:30%;}
.left3{width:42%; min-height:380px; background-color:lightblue;float:left;font-size:14px;padding:5%;margin-top:5%;}
.helli{display:none;}
.top1{
width:100%;height:80px; background-color:black;float:left;text-align:right;padding-top:10px;}
.header{display:none;}
#mennu{display:none;}
.filling2{display:none;}
.containng{color:white;background-color:black;border:solid 2px red;padding:10px;width:190px;}
.content{margin-left:0px;width:220px;}
.contentmy{margin-left:200px;width:220px;}
#conmy{background-color:orange;border:solid 2px red;padding:10px;width:190px;border-radius: 10px;}
.contentm{margin-left:0px;width:220px;}
#conm{background-color:lightgreen;border:solid 2px red;padding:10px;border-radius: 10px;}

@media screen and (max-width:800px){
*{width:98%;margin:0px;padding:0px;}
 .left1{
 display:none;height:0px;
 }
.left4{width:95%; min-height:350px;position:absolute;solute;float:left;font-size:14px;margin-left:5%;}
.left3{width:95%; min-height:350px; background-color:lightblue;float:left;font-size:14px;padding:2%;margin-top:20%;}
 .head1{
 width:94%;background-color:white;
 }
.helli{display:block;width:95%;padding-left:20px;background-color:lightblue;margin-top:10%;}
 .right1{width:80%;margin-left:5%;min-height:150px;}
 .top1{display:none;}
 
.header{width:104%;height:60px;background-color:red;border-radius:5%;display:block;}
#mennu{display:block;text-align:left;z-index:5;}
#mennu ul{list-style:none;text-align:center;padding-top:10px;decoration:none;}
#mennu li{font-size:25px;background-color:black;width:80%;color:white;padding-top:30px;padding-bottom:10px;list-style:none;margin-left:-60%;decoration:none;border:solid 1px white;}
#mennu li:hover{background-color:grey;}
.containng{color:white;background-color:black;border:solid 2px red;padding:6px;width:90%;}
#sider{
width:80%;
}
.mesbox{width:90%;}
.content{width:90%;}

.contentmy{margin-left:100px;width:60%;}
#conmy{background-color:orange;border:solid 2px red;padding:10px;width:60%;border-radius: 10px;}
.contentm{margin-left:0px;width:60%;}
#conm{background-color:lightgreen;border:solid 2px red;padding:10px;border-radius:10px;width:60%;}
}