*{width:98%;font-family:calibri;}
.filling{
width:42%; min-height:700px; background:-webkit-gradient(linear,left top,right bottom,color-stop(30%,white),color-stop(65%,cornflowerblue));float:left;font-size:30px;padding:2.5%;}
.left1{
width:25%; min-height:900px; background:-webkit-gradient(linear,left top,right bottom,color-stop(5%,lightsteelblue),color-stop(85%,cornflowerblue));float:left; color:white;margin-top:-102px;margin-left:2.4%;border:solid 1px grey;}
.lleft1{
width:2.3%; min-height:900px; background-color:white;position:fixed;float:left; color:white;margin-top:-102px;opacity:1;
}
.head1{
width:95%;background-color:white;
}
.rright1{
width:2.5%; min-height:900px; background-color:white;position:fixed;float:left; color:white;margin-top:-102px;opacity:1;margin-left:97.5%;
}
.content{
width:25%; min-height:700px; background-color:-webkit-gradient(linear,left top,right bottom,color-stop(5%,lightsteelblue),color-stop(85%,cornflowerblue));float:left;  font-size:20px;
}
.top1{
width:100%;height:80px; background-color:black;float:left;text-align:right;padding-top:10px;}
.header{display:none;}
#mennu{display:none;}

@media screen and (max-width:500px){
*{width:98%;margin:0px;padding:0px;}
.filling{
width:98%;
 min-height:100px; background:-webkit-gradient(linear,left top,right bottom,color-stop(30%,white),color-stop(65%,cornflowerblue));float:left;font-size:30px;}
 .left1{
 display:none;min-height:100px;
 }
  .lleft1{
 display:none;min-height:100px;
 }
 .head1{
 width:100%;background-color:white;
 }
 .rright1{
 display:none;
 }
 .content{display:none;}
 .top1{display:none;}
 
.header{width:104%;height:60px;background-color:red;border-radius:5%;display:block;}
#mennu{display:block;text-align:left;}
#mennu ul{list-style:none;text-align:center;padding-top:10px;decoration:none;}
#mennu li{font-size:25px;background-color:black;width:80%;color:white;padding-top:30px;padding-bottom:10px;list-style:none;margin-left:-60%;decoration:none;border:solid 1px white;}
#mennu li:hover{background-color:grey;}
}